<footer class="footer">
    <div class="text-muted">
        <div class="text">
            <br>
            Vragen of staat een boek er niet tussen? Klik <a href="http://localhost:4200/contact">hier</a> om contact op
            te nemen!
        </div>
        <div class="adres">
            
            <br>
            Working Talent
            <br>
            Kerkbuurt 4
            <br>
            1511 BD Oostzaan
            <br>
            info@workingtalent.nl
            <br>
            08506 08506
        </div>

        
    </div>
</footer>>