<br>
<div class="form-style-6">
    <h1>Gebruiker toevoegen</h1>
<input id=addUserVoornaam type="text" placeholder="Voornaam" [(ngModel)]="voornaam">
<input id=addUserAchternaam type="text" placeholder="Achternaam" [(ngModel)]="achternaam">
<input id=addUserEmail type="text" placeholder="Emailadres" [(ngModel)]="email">
<input id=addUserPassword type="text" placeholder="Wachtwoord" [(ngModel)]="password">
<input id=addUserAdminrights type="checkbox" [(ngModel)]="adminrights">Admin rechten <br>
<br>
<button type="submit" (click)=handleAddUser();>Toevoegen</button>
<small id=addSuccess *ngIf='toegevoegdStatus'>{{toegevoegd}}</small>
</div>