<header class="header"> Login</header>
<br>
<br>
<div class="wrap">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
User Name: <input id=username type="text" class = "searchTerm" placeholder="Enter username">
Password: <input id=password class = "searchTerm" type="password">
<!-- <input id=loginbutton type="button" value="Login"> -->
<button (click)=handleLogin()>Login</button>
<input type="checkbox" checked="checked" name="remember"> Remember me
<span class="psw">Forgot <a href="#">password?</a></span>
</div>