<header class="header"> Contactformulier</header>
<div class="wrap">
    Bij vragen over de WTBieb applicatie kunt u dit formulier invullen. De admin van deze applicatie zal dan contact met u opnemen. 
    Tevens kunt u dit formulier invullen als er een boek is dat u graag aan de collectie van Working Talent toegevoegd wilt hebben.
    <div>
        <textarea type="text" class="contactTextbox" placeholder="Typ hier uw vraag:"></textarea>
        <button class="submitButton" onclick="alert('Het contactformulier is verzonden.')">Contactformulier verzenden </button>
    </div>
</div>