<header>
    <div>
        <div class="plaatje">
            <img src="assets/img/working-talent-squarelogo.png">
        </div>
        <div class="titel">
            <span>
                WTBieb
            </span>

        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li> <a class="nav-link" href="#welkom">Welkom</a> </li>
            <li> <a class="nav-link" href="#boeken">Boeken zoeken</a></li>
            <li> <a class="nav-link" href="#winkelwagen">Winkelwagen</a></li>
            <li> <a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li> <a class="nav-link" href="#logout">Logout</a></li>
        </ul>
    </nav>
</header>