<header>
    <div>
        <div class="plaatje">
            <a href="http://www.workingtalent.nl/" target="_blank"> <img src="assets/img/working-talent-squarelogo.png"></a>
        </div>
        <div class="titel">
            <span>
                WTBieb
            </span>

        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li> <a class="nav-link" href="welkom">Home</a> </li>
            <li> <a class="nav-link" href="boekenzoeken">Boeken zoeken</a></li>
            <li> <a *ngIf="!isUserAdmin" class="nav-link" href="winkelwagen">Winkelwagen</a></li>
            <li> <a *ngIf="!isUserAdmin" class="nav-link" href="boekaanvraag">Boek aanvragen</a></li>
            <li> <a *ngIf="!isUserAdmin" class="nav-link" href="contact">Contact</a></li>
            <li> <a *ngIf="isUserAdmin" class="nav-link" href="rapportages">Rapportages</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li> <a class="nav-link" href="logout">Logout</a></li>
        </ul>
    </nav>
</header>