.navbar-nav a:hover {
    background-color:rgb(153, 190, 14);
    color:black;
}

.titel {
    background-color:rgb(20, 16, 16);
    color: white;
    font-size:60px;  
    height: 144px;
}

.plaatje{
    float:left;
    background-color:rgb(20, 16, 16);
}

