<div class="welkomnaam">
    <h1>Welkom {{_gebruiker.voornaam | titlecase}}</h1>
    <br>
</div>

<div class="mijnboeken">
    <h3 *ngIf="isUserAdmin">Alle huidige reserveringen</h3>
    <h3 *ngIf="!isUserAdmin">Mijn huidige reserveringen</h3>
    <br>

<table *ngIf="isUserAdmin" class= "Allreservering" border="1" align="center">
        
    <thead>
        <tr class="tr-header">
            <th style="white-space:nowrap">WTid</th>
            <th style="white-space:nowrap">Titel</th>
            <th style="white-space:nowrap">Gebruiker</th>
            <th style="white-space:nowrap">Datum</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor= "let reservering of gevondenAllReserveringen">
            <td class="isbn" style="white-space:nowrap" (click)=naarpagina(reservering.exemplaar.wtid)>{{reservering.exemplaar.wtid}}</td>
            <td style="white-space:nowrap">{{reservering.titel}}</td>
            <td style="white-space:nowrap">{{reservering.user}}</td>
            <td style="white-space:nowrap">{{reservering.reserveringsDatum}}</td>
        </tr>
    </tbody>
</table>

<table *ngIf="!isUserAdmin" class= "reservering" border="1" align="center">
        
    <thead>
        <tr class="tr-header">
            <th style="white-space:nowrap">ISBN</th>
            <th style="white-space:nowrap">Titel</th>
            <th style="white-space:nowrap">Datum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let reservering of gevondenUserReserveringen">
            <td style="white-space:nowrap">{{reservering.isbn}}</td>
            <td style="white-space:nowrap">{{reservering.titel}}</td>
            <td style="white-space:nowrap">{{reservering.reserveringsDatum}}</td>
        </tr>
    </tbody>
</table>


</div>