<header class="header"> Boeken zoeken</header>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrap">
    <div class="search">
       <input type="text" name="zoekTerm" class="searchTerm" placeholder="Naar welk boek ben je opzoek?" [(ngModel)]="zoekTerm">
       <button type="submit" class="searchButton" (click)="searchBoeken()">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

<div class="lijstAllBoek" *ngIf="!zoekTermAanwezig">
 <table class="Allboeklijst" border="1" align="center">
        
    <thead>
        <tr>
            <th style="white-space:nowrap">ISBN</th>
            <th style="white-space:nowrap">Titel</th>
            <th style="white-space:nowrap">Auteur</th>
            <th style="white-space:nowrap">Aantal beschikbaar</th>       
            <!-- <th style="white-space:nowrap">Tags</th> -->
            <th style="white-space:nowrap"> </th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let boek of gevondenAllBoeken">
            <td style="white-space:nowrap">{{boek.isbn}}</td>
            <td style="white-space:nowrap">{{boek.titel}}</td>
            <td style="white-space:nowrap">{{boek.auteur}}</td>
            <td style="white-space:nowrap">{{boek.aantal}}</td>

            <td *ngIf="!isUserAdmin" style="white-space:nowrap"><button type=button onclick="alert('Gereserveerd!')">"Plaats in winkelwagen" </button></td>
            <td *ngIf="isUserAdmin" style="white-space:nowrap"><button type=button onclick="alert('Gereserveerd!')">"Bewerk boek" </button></td>
            <td *ngIf="isUserAdmin" style="white-space:nowrap"><button type=button (click)=exemplaartoevoegen(boek.isbn)>"Voeg exemplaar toe" </button></td>

        </tr>
    </tbody>
</table>
</div>

 <div class="zoeklijst">
    <table class="boeklijst" border="1" align="center" *ngIf="gevondenBoeken.length > 0">
        
        <thead>
            <tr>
                <th style="white-space:nowrap">ISBN</th>
                <th style="white-space:nowrap">Titel</th>
                <th style="white-space:nowrap">Auteur</th>
                <th style="white-space:nowrap">Aantal beschikbaar</th>       
                <!-- <th style="white-space:nowrap">Tags</th> -->
                <th style="white-space:nowrap"> </th>            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let boek of gevondenBoeken">
                <td style="white-space:nowrap">{{boek.isbn}}</td>
                <td style="white-space:nowrap">{{boek.titel}}</td>
                <td style="white-space:nowrap">{{boek.auteur}}</td>
                <td style="white-space:nowrap">{{boek.aantal}}</td>

                <td *ngIf="!isUserAdmin" style="white-space:nowrap"><button type=button onclick="alert('Gereserveerd!')">"Plaats in winkelwagen" </button></td>
                <td *ngIf="isUserAdmin" style="white-space:nowrap"><button type=button onclick="alert('Gereserveerd!')">"Bewerk boek" </button></td>
                <td *ngIf="isUserAdmin" style="white-space:nowrap"><button type=button (click)=exemplaartoevoegen(boek.isbn)>"Voeg exemplaar toe" </button></td>

            </tr>
        </tbody>
    </table>  
 </div>
