  .header{
    text-align: center;
    font: 'Open Sans', sans-serif;
    font-size:50px
}
.wrap{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }