<header class="header"> Winkelwagen</header>
<br>
<br>

<div class="winkelwagen">
    <table border="1" align="center">
        <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Auteur</th>
                <th>Tags</th>
                <th>Status</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Java for Dummies</td>
                <td>P.R. grammeren</td>
                <td>Java, Beginner</td>
                <td>Beschikbaar</td>
            </tr>
        </tbody>
    </table>
</div>

<div  ></div>
